<div class="app-container">
  <div class="header">Tweak (beta)</div>
  <div class="chat-container" #chatContainer>
    <div class="chat-items-wrapper">
      <div *ngFor="let message of messages">
        <div class="chat-div" [ngClass]="message.human ? 'user' : 'bot'">
          <img
            *ngIf="message.human"
            src="../assets/human.png"
            alt="Avatar"
            style="width: 100%"
          />
          <img
            *ngIf="!message.human"
            src="../assets/wall-e.png"
            alt="Avatar"
            style="width: 100%"
          />
          <div class="text">
            <div style="text-align: left" [innerHTML]="message.text"></div>
            <span class="time-right"> {{ message.time }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-wrapper">
    <div class="textbox-wrapper">
      <input
        #query
        class="inputBox"
        autofocus="autofocus"
        type="text"
        placeholder="Type your question here..."
        [(ngModel)]="question"
        (keyup.enter)="mainFunction($event)"
      />
    </div>

    <div class="send-btn-wrapper">
      <button class="btn btn-secondary" (click)="mainFunction()">Send</button>
    </div>
  </div>
</div>

<div class="loading-template" *ngIf="loading">
  <h4>Loading...</h4>
</div>
