.header {
  height: fit-content;
  background-color: #1369dd;
  margin-top: 10px;
  text-align: center;
  padding: 16px;
  font-size: 26px;
  font-family: monospace;
  color: aliceblue;
}

.chat-container {
  background-color: rgb(255, 255, 255, 0.5);
  height: 64vh;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  overflow-y: scroll;
}

.textbox-wrapper {
  height: 68%;
  margin: 15px;
}
.inputBox {
  width: inherit;
  height: 45px;
  border: 5px solid #0e58bb;
}

button.btn.btn-secondary:after {
  content: "\00BB";
}

.btn {
  width: 100px;
  height: 68%;
  background: rgb(9, 41, 94, 0.7);
  margin: 12px;
  /* text-shadow: 6px 5px pink; */
  font-weight: 800;
  color: white;
  font-size: 18px;
  font-family: monospace;
}

.chat-items-wrapper {
  display: flex;
  flex-direction: column;
}
.chat-div {
  border: 4px solid;
  border-color: #0e58bb;
  background-color: #003a48e8;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 25px;
}

.chat-div::after {
  content: "";
  clear: both;
  display: table;
}

.chat-div img {
  float: left;
  max-width: 60px;
  width: 100%;
  border-radius: 50%;
}

.chat-div img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: azure;
}

.time-left {
  float: left;
  color: azure;
}

.user {
  width: auto;
  float: right;
  min-width: 51%;
  max-width: 80%;
}
.bot {
  width: auto;
  float: left;
  min-width: 51%;
  max-width: 80%;
}

.user img {
  float: right;
}
.text {
  padding-top: 25px;
  font-size: 23px;
  font-family: monospace;
  color: aliceblue;
}

.form-wrapper {
  display: flex;
  flex-wrap: nowrap;

  background-color: rgb(98 151 251);

  margin: 0px;
  margin-top: 10px;
}

.textbox-wrapper {
  flex: 1 1 auto;
}

.textbox-wrapper > input {
  width: 100%;
  font-family: monospace;
  font-size: x-large;
  padding-left: 10px;
}

button {
  border-radius: 6px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
  justify-content: center;
}

.loading-template {
  position: absolute;
  top: calc(50% - 100px);
  transform: translateX(-50%);
  left: 50%;
  width: 200px;
  height: 200px;
  background: #3e7efa99;
  border-radius: 9px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-family: sans-serif;
  color: wheat;
  animation: loading 700ms infinite;
}

@keyframes loading {
  0% {
    color: red;
  }
  /* 20% {
    color: blueviolet;
  } */
  40% {
    color: green;
  }
  /* 60% {
    color: yellow;
  } */
  80% {
    color: blue;
  }
  /* 100% {
    color: #0e58bb;
  } */
}
@media screen and (max-width: 768px) {
  .app-container {
    width: 100%;
    justify-content: flex-end;
  }
  .chat-container {
    height: 100vh;
  }
}
