/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
  height: 100vh;
  margin: 0;
}

app-root {
  display: flex;
  justify-content: center;
  height: 100%;
  background: url("./assets/stacked-waves-haikei.svg");
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003a48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #042229;
}
